:root {
  --primary-color: #6979f8;
  --secondary-color: #be52f2;
  --primary-color-hover: #a5affb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fafafa;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}
